# Configurações do CoreBlackBox

# Chave privada da sua carteira (nunca compartilhe a original)
PRIVATE_KEY=sua_chave_privada_aqui

# URL do provedor RPC (neste caso, a rede Sepolia)
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com